desktop/__pycache__/add_material.cpython-313.pyc
desktop/__pycache__/history_view.cpython-313.pyc
desktop/__pycache__/inventory_view.cpython-313.pyc
desktop/__pycache__/main_window.cpython-313.pyc
desktop/__pycache__/user_manager.cpython-313.pyc
qr/__pycache__/__init__.cpython-313.pyc
qr/__pycache__/generator.cpython-313.pyc
desktop/__pycache__
assets/qr_codes
venv
